@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@font-face {
    font-family: 'content' ;
    src: url('Inventory/Fonts/Roboto/Roboto-Regular.ttf') format('truetype') ;
    src: url('Inventory/Fonts/Roboto/Roboto-Medium.ttf')  format('truetype') ;
}   

* {
    margin: 0px;
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif;
}

:root {

    --h1: Fanwood ;
    --h11: Gabriela ;
    --p: content ;

}


header {
    background-color: #1f2527;
    min-height: 180px;
    width: 92.4%;
    margin-bottom: 50px; 
    
}

header h1 {
    font-family: var(--h11);
    color: white;
    font-weight: lighter;
    text-align: center;
    padding-top: 50px;
    text-shadow: 0.5px 1px 1px;
    

}

header p {
    color: white;
    font-family: var(--h11);
    text-align: center;
    padding-top: 15px;
      
}

header a {
    text-decoration: none;
}

header img {
     width: 125px ;
     float: left;
     padding-left: 64px;
     padding-bottom: 20px;
     padding-top: 28px;
}

nav {
    text-align: center;
    display: inline;
    background-color: #1b1b20;
    padding: 14px 8.7px 14px 20px;
    float: right;
    margin-top: -229.9px;
    
}

nav a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;  
    
}

nav a:hover {
    background-color:  #16161aa1;
    transition: 0.5s;
    border-radius: 7px;

}

body {
    background-color: #151518;
}
main {
    position: relative;
    background-color: #1f2527;
    max-width: 760px;
    color: black;
    margin: auto;
    padding: 0px 10px 30px 10px ;
    border-radius: 17px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.418);
    
}

main h2 {
    text-indent: 5.9%;
    color: white;
    font-weight: 1.5em;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: lighter;
    padding: 40px 10px 46px 10px;
    
}

main div {
    text-align: center;
    background-color: white;
    color: black;
    width: 275px;
    padding: 130px 0px 130px 0px;
    margin-bottom: 4.5%;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 71%);
    transition: 0.5s;
    border-radius: 10px;
}

main div p {
    font-family: var(--p);
    line-height: 1.3em;
    color: white;
    display: none;
}
main div:hover {
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.336);
    transition: 0.5s;
    background-color: #202026; 
    
}

main div h3 {
    font-family: var(--h11) ;
    font-weight: lighter;
}

main div#right {
    float: right;
    clear: both;
    margin-right: 7%;
}

main div.left {
    margin-left: 7%
}

div:hover h3 {
    display: none;
}

div:hover p {
    display: block;
}


footer {
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#1f2527;
    text-align: center;
    color: white;
    clear: both;
    margin-top: 49px;
    padding: 30px 30px 0px 30px;
}

footer > h3 {
    padding-bottom: 7px;
    font-size: 1.5em;
}

footer > p {
    margin: auto;
    line-height: 1.5em;
    max-width: 500px;
    text-align: center;
    font-size: 1.1em;
}

footer a {
    text-decoration: none;
}
footer div.boxicon {
    padding: 30px;
}

footer img.icon {
    margin-left: 10px;
}
footer img.smallicon {
    width: 25px;
}

footer img:hover {
    background-color: #1f1e1e;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.336);
}

footer div.credit {
    background-color: #070708;
    padding-left: 0px;
    margin-left: -31px;
    margin-right: -30px;

}
div.credit p {
    padding: 2px;
}

.same {
    background-color: #202026;
}